@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  width: 100vw;
}

form label,input{
    width: 100%;
}
form label{
  Margin-top: 8px;
}

@theme inline{
  --shadow-acetrenity : [0_3px_10px_rgb(0,0,0,0.2)]
}
